:root {
    --sidelist-text: #0a0a0a;
    --sidelist-text-hover: #fff;
    --sidbar-background: #ffffffc0;
    --sidelist-background-hover: #1e87dd;
    --sidelist-link: #555;
    --main-background: rgba(32, 83, 131, 0.664);
    --card-background: rgb(255, 255, 255);
    --card-front-background: rgb(9, 80, 128);
    --card-front-background-hover: rgb(31, 142, 185);
    --card-front-background-image: url('/assets/icons/learn.svg');
    --card-content-ul: rgba(241, 241, 241, 0.308);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}


/* Sidelist */

.wrapper.list .sidelist {
	width: 270px;
	height: 100vh;
	padding: 10px;
	background: var(--sidbar-background);
	position: fixed;
    overflow: auto;
    text-align: center;
}

.wrapper.list .sidelist h2 {
	margin:10px;
	overflow: hidden;
    line-height: 1;
    font-size: 24px;
	color: var(--sidelist-text);
}

.wrapper.list .sidelist ul {
	list-style: none;
    padding: 0px;
 
}

.wrapper.list .sidelist a {
	display: block;
	padding: 5px 20px;
    text-decoration: none;
    font-size: 14px;
	color: var(--sidelist-link);
}



.wrapper.list .sidelist li a.active, .sidelist li a:hover {
	background: var(--sidelist-background-hover);
    color: var(--sidelist-text-hover);
    text-decoration: none;
}

@media (max-width: 700px) {
	.wrapper.list .sidelist {
		border-top: 80px solid var(--sidelist-background);
		width: auto;
		height: auto;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		padding: 10px;
	}
	.wrapper.list .sidelist > div {
		flex: 1;
		margin: 10px;
	}
	.wrapper.list .wrapper.list .sidelist a {
		padding: 5px;
	}
}

/* Main */

#main {
    margin-top: 58px;
    padding-left: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--main-background);
    min-height: 100vh;
}

#main .container-card {
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}

#main .container-card #card {
    position: relative;
    height: 250px;
    background: var(--card-background);
    display: flex;
    width: 45%;
    margin: 30px 0;
}

#main .container-card #card .front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--card-front-background);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

#main .container-card #card:hover .front {
    border-radius: 10%;
    width: 150px;
    height: 150px;
    left: -45px;
    top: calc(50% - 75px);
    transition: 0.5s ease-in-out;
    background-color: var(--card-front-background-hover);
    background-image: url('/assets/icons/math.svg');
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
}

#main .container-card #card .front h1 {
    color: rgb(201, 223, 243);
}

#main .container-card #card:hover .front h1 {
    font-size: 18px;
    font-weight: 900;
    text-align: center;
}

#main .container-card #card .content {
    position: absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main .container-card #card .content ul {
    overflow: auto;
    border: 0.5px solid rgba(0, 0, 0, 0.020);
    width: 300px;
    height: 100px;
}

#main .container-card #card .content ul li {
    text-align: center;
    font-size: 14px;
    padding: 2px;
    list-style: none;
}

#main .container-card #card .content ul li a {
    color: #222;
    transition: 0.5s ease;
}

#main .container-card #card .content ul li a:hover {
    color: rgb(51, 132, 185);
}

#main .container-card .card .content h3 {
    margin-bottom: 5px;
    font-size: 24px;
}

#main .container-card .card .content button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
}

@media only screen and (max-width: 1300px) {
    #main .container-card {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    #main .container-card #card {
        width: 400px;
    }
}

@media only screen and (max-width: 768px) {
    #main {
        padding: 0;
        width: 100%;
    }
    #main .container-card #card {
        max-width: 400px;
        flex-direction: column;
        height: auto;
    }
    #main .container-card #card .front {
        display: none;
    }
    #main .container-card #card .content {
        position: relative;
        width: 100%;
    }
}