*{

    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root{
    --color-btn-background: #008ed4;
    --color-text: black;
    --color-list-text-hover: rgb(42, 163, 200);
    --color-btn-background-hover:  rgb(0, 27, 114);
    --color-btn-text: white;

}

/*      

    CARDS | Area dos Assuntos
 
*/


.grid-container{
 
    display: grid;
grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
grid-template-rows: auto;
 margin-left: 350px;

  column-gap: 20px;
  grid-gap: 20px;
  padding: 10px;
  max-width: 900px;

}




/* Configurações do card em si, individualmente*/

.grid-container > div{
    border:0;
    font-size: 20px;
    border-radius: 15px;
    min-width: 200px;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);

}

.card{
    padding: 10px;
    height: 350px;
}

.card li{
    list-style: none;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 20px;
    padding: 2px;
}

.card ul{
    overflow: auto;
    overflow-y: auto;
    height: 50%;
}

.card li a{
    text-decoration: none;
    color: var(--color-text);
    margin-bottom: 5px;
}

.card li a:hover{
    color: var(--color-list-text);
}

.card h4{
    text-align: center;
    margin-top: 5px;
}

/* BOTAO */

.botao{
    text-align: center;
    margin-top: 10px;
    
}
.card button{
width: 150px;
 padding: 5px;
 border-radius: 10px;
 box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.7);
 cursor: pointer;
 border: none;
 background-color: var(--color-btn-background);
 transition: all 0.7s;
}

.card button:hover{
    background-color: var(--color-btn-background-hover);
}

.card button span{
    color: var(--color-btn-text);
}