body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.sidebar{
  z-index: 1;
  top: 0;
  background: #514A9D;
  margin-top: 66px;
  padding-top: 20px;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}

.profile_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .profile_info .profile_image{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar .profile_info h4{
  color: #ccc;
  margin-top: 0;
}

.sidebar a{
  color: #fff;
  display: block;
  width: 100%;
  line-height: 58px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover{
  background: #19B3D3;
}

.sidebar i{
  padding-right: 20px;
}

label #sidebar_btn{
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 24px;
  font-size: 15px;
  margin: -14px 180px;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover{
  color: #19B3D3;
}

#check:checked ~ .sidebar{
  left: -185px;
}

#check:checked ~ .sidebar a span{
  display: none;
}

#check:checked ~ .sidebar a{
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
}

.content{
  margin-top: 0;
  padding: 20px;
  margin-left: 250px;
  background-color: white;
  background-position: center;
  background-size: cover;
  height: 89vh;
  transition: 0.5s;
}

#check:checked ~ .content{
  margin-left: 55px;
}

#check:checked ~ .sidebar .profile_info{
  display: none;
}

#check{
  display: none;
}

.mobile_nav{
  display: none;
}

@media screen and (max-width: 780px){
  .sidebar{
    display: none;
  }

  #sidebar_btn{
    display: none;
  }

  .content{
    margin-left: 0;
    margin-top: 0;
    padding: 10px 20px;
    height: 200vh;
    transition: 0s;
  }

  #check:checked ~ .content{
    margin-left: 0;
  }

  .mobile_nav{
    display: block;
    width: 100%;
  }

  .nav_bar{
    background: #222;
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .nav_bar .mobile_profile_image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .nav_bar .nav_btn{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
  }

  .nav_bar .nav_btn:hover{
    color: #19B3D3;
  }

  .mobile_nav_items{
    background: #2F323A;
    display: none;
  }

  .mobile_nav_items a{
    color: #fff;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }

  .mobile_nav_items a:hover{
    background: #19B3D3;
  }

  .mobile_nav_items i{
    padding-right: 10px;
  }

  .active{
    display: block;
  }
}

/*                         MENU DE CIMA                        */
.top_menu {
  z-index: 21;
  position: -webkit-sticky;
  position: sticky;
}

.navbar {
  z-index: 20;
  background-image: -webkit-gradient(linear, left top, right top, from(#514A9D), to(#36D1DC));
  background-image: linear-gradient(to right, #514A9D, #36D1DC);
  /*!important "ignora" cascata, define como prioridade onde foi atribuido*/
}

.navbar-brand {
  margin-left: 0;
}

.navbar-brand img {
  height: 48px;
}

.navbar-nav li a {
  color: white !important;
  font-weight: 600;
  text-align: left;
}

.fa-bars {
  color: white;
  font-size: 30px !important;
}

.navbar-toggler {
  outline: none !important;
}

#marg{
  margin-left: 90px;
  margin-top: 18px;
}

.image{
  width: 390px;
  height: 220px;
}

.col-md-2{
margin-left: 55px;
}

h1 {
  font-family: 'Economica', sans-serif;
  color: black;
  text-align: center;
  font-size: 190px;
  padding: 2px 2px 2px 2px;
}

p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.mega-menu{width: 800px; overflow: hidden; padding: 50px;}
.mega-menu a{text-decoration: none; color: cadetblue;}
.mega-menu .sub-menu-heading{ color: darkcyan;}
@media(max-width:500px){
	.mega-menu{width: 300px;}
}
