@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* Estilo da Lista Lateral*/

.navList {
    position: fixed;
    float: left;
    margin: 0;
    width: 300px;
    height: 100% !important;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
    list-style-type: none;
    background-color: #e2e8f3;
    overflow: auto;
    font-family: 'Roboto', sans-serif;
}

.navList .lista-content {
    text-align: center;
}

.lista-content .titulo-list {
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: 10px;
    text-align: center;
    font-size: 23px;
}

.conteudo a:link {
    text-decoration: none;
}

.conteudo {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
}

.conteudo a {
    color: black;
}

.conteudo:hover {
    background-color: rgba(13, 92, 102, 0.3);
}

.conteudo a:hover {
    color: rgb(29, 114, 153);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

.nav-link {
    transition: 0.5s;
}

.nav-link:hover {
    color: rgb(24, 101, 179) !important;
}

.nav-item.atual .nav-link {
    color: #237e91;
}

.sidebar {
    z-index: 1;
    top: 0;
    background-image: linear-gradient(to bottom, #514A9D, #1f76af);
    margin-top: 66px;
    padding-top: 20px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
}

.profile_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar .profile_info .profile_image {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar .profile_info h4 {
    color: #ccc;
    margin-top: 0;
}

.sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 58px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5;
}

.sidebar a:hover {
    background-image: linear-gradient(to right, #514a9d98, #1f75afa4);
    color: white;
    text-decoration: none;
}

.sidebar i {
    padding-right: 20px;
}

label #sidebar_btn {
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 24px;
    font-size: 15px;
    margin: -10px 0px;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover {
    color: #19B3D3;
}

#check:checked~.sidebar {
    left: -185px;
}

#check:checked~.sidebar a span {
    display: none;
}

#check:checked~.sidebar a {
    font-size: 20px;
    margin-left: 165px;
    width: 100%;
}

#check:checked~.content {
    margin-left: 55px;
}

#check:checked~.sidebar .profile_info {
    display: none;
}

#check {
    display: none;
}

.mobile_nav {
    display: none;
}

@media only screen and (max-width: 780px) {
    .sidebar {
        display: none;
    }
    .mobile_nav {
        display: block;
        margin-top: 74px;
        position: fixed;
        width: 100%;
    }
    .nav_bar {
        background: linear-gradient(to right, #39318d, #05558a);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    .nav_bar .mobile_profile_image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}

.mobile_nav_items {
    background: linear-gradient(to bottom, #332a94, #134d74);
    display: none;
}

.mobile_nav_items a {
    color: #fff;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.mobile_nav_items a:hover {
    background: linear-gradient(to right, #514a9d98, #1f75afa4);
    text-decoration: none;
    color: rgb(5, 0, 73);
}

.mobile_nav_items i {
    padding-right: 10px;
}

.active {
    display: block;
}


/*                         MENU DE CIMA                        */

#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

.top_menu {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
    background-image: -webkit-gradient(linear, left top, right top, from(#514A9D), to(#36D1DC));
    background-image: linear-gradient(to right, #514A9D, #36D1DC);
}

#header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1550px;
    padding: 0 10px;
}

.navbar-brand {
    margin-left: 45px;
}

.navbar-brand img {
    height: 48px;
}

.navbar-nav li a {
    color: white !important;
    font-weight: 600;
    text-align: left;
}

.fa-bars {
    color: white;
    font-size: 25px !important;
}

.navbar-toggler {
    outline: none !important;
}

.col-md-2 {
    margin-left: 30px;
}

.mega-menu {
    width: 800px;
    overflow: hidden;
    padding: 50px;
    background-color: #191970

}

.mega-menu a {
    text-decoration: none;
    color: cadetblue;
}

.mega-menu .sub-menu-heading {
    color: white;
}

@media(max-width:500px) {
    .mega-menu {
        width: 300px;
    }
}
