body{
	margin: 0;
}

/* Footer */
#footer {
	position: initial;
	bottom: 0;
    display: flex;
    background-color: #000080;
    justify-content: center;
    text-align: center;
	height: 170px;
}

#footer .footer.container {
	min-height: 170px;
	flex-direction: column;
	padding-top: 10px;
	padding-bottom: 0;
}

#footer .footer.container .brand img{
    width: 80px;
}
#footer .footer.container h2 {
	color: white;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: .1rem;
	margin-top: 10px;
	margin-bottom: 9px;
}
#footer .footer.container .social-icon {
    display: flex;
    justify-content: center;
	margin-bottom: 20px;
}
#footer .footer.container .social-icon .social-item {
	height: 40px;
	width: 40px;
	margin: 0 5px;
}
#footer .footer.container .social-icon .social-item img {
	filter: grayscale(1);
    transition: .3s ease filter;
    width: 40px;
}
#footer .footer.container .social-icon .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 12px;
}
