@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body,html{
    height: 100%;
}

:root{
    --box-color:  linear-gradient(rgb(85, 172, 212), #0a4a9ee5);
    --btn-color:rgb(43, 133, 175);
    --small-hover-color: rgb(43, 204, 253);
}

*{
    font-family: "Roboto";
}

body{
    background-image: url('./../../assets/icons/undraw_mathematics_4otb.svg');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 0 0;
}

.btn, a, .card, span{
    color: white
}

.btn{
    background-color: var(--btn-color);
    transition: 0.4s;
    float: right;
}

.btn:hover{
    filter: brightness(70%);
}

small:hover a{
    color: var(--small-hover-color);
}

.card{
    background-image: var(--box-color);
}

#imagemDePerfil{
    width: 500px;
    position: absolute;
    top: -3%;
    left:50%;
    transform: translate(-50%,-50%)
}

