:root {
    --sidenav-background: #0a4270c0;
    --topmenu-background: linear-gradient(to right, #2169ac, #30aac9);

    --btn-sidebar: #fff;
    --sidenav-shadow: rgba(0, 0, 0, 0.6);
    --sidenav-closebtn: #bbc7da;
    --sidenav-a-text: #d6dae0;
    --sidenav-a-hover-text: #d6dae0;
    --sidenav-a-hover-background: #075da357;
    --sidenav-a-hover-border: rgba(255, 255, 255, 0.164);
    --nav-link-hover: rgb(6, 31, 56);

    --navitem-atual-navlink-hover: #237e91;
    --navitem-atual-navlink-hover-text: rgb(5, 0, 73);
    --navbar-li-a: white;
    --megamenu-background: #4d9aa1;
    --megamenu-a-text: #000000;
}

header .wrapper.nav .top_menu span {
    color: var(--btn-sidebar);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 60px;
    left: 0;
    background-color: var(--sidenav-background);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    overflow-y: auto;
    box-shadow: 10px solid;
}

.sidenav .closebtn {
    color: var(--btn-sidebar);
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .closebtn:hover {
    color: var(--sidenav-closebtn);
    cursor: pointer;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: var(--sidenav-a-text);
    display: block;
    margin: 20px 0 0 0;
    transition: 0.3s;
}

.sidenav .profile img {
    margin-right: 10px;
    font-size: 20px;
}

.sidenav a:hover {
    color: var(--sidenav-a-hover-text);
    font-size: 22px;
    border: 2px solid var(--sidenav-a-hover-border);
    background: var(--sidenav-a-hover-background);
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/* TOP */

.nav-link {
    transition: 0.5s;
}

.nav-link:hover {
    color: var(--nav-link-hover) !important;
}

.nav-item.atual .nav-link {
    color: var(--navitem-atual-navlink-hover);
}

.mobile_nav {
    display: none;
}

@media only screen and (max-width: 780px) {
    .sidebar {
        display: none;
    }
    .mobile_nav {
        display: block;
        margin-top: 74px;
        position: fixed;
        width: 100%;
    }
    .nav_bar {
        background: var(--topmenu-background);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    .nav_bar .mobile_profile_image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}


/*                         MENU DE CIMA                        */

header {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

header .wrapper.nav .top_menu {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
    background-image: -webkit-gradient(linear, left top, right top, from(#514A9D), to(#36D1DC));
    background-image: var(--topmenu-background);
}

header .wrapper.nav .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1550px;
    padding: 0 10px;
}

header .wrapper.nav .top_menu  .navbar .navbar-brand {
    margin-left: 10px;
}

header .wrapper.nav .top_menu  .navbar .navbar-brand img {
    height: 48px;
}

header .wrapper.nav .top_menu .navbar .collapse.navbar-collapse .navbar-nav li a {
    color: var(--navbar-li-a) !important;
    font-weight: 600;
    text-align: left;
}

header .wrapper.nav .top_menu .navbar .navbar-toggler {
    outline: none !important;
}

header .wrapper.nav .top_menu  .navbar .collapse.navbar-collapse .navbar-nav .dropdown-menu.mega-menu .row .col-md-2 {
    margin-left: 45px;
}

header .wrapper.nav .top_menu  .navbar .collapse.navbar-collapse .navbar-nav .dropdown-menu.mega-menu {
    width: 700px;
    padding: 5px;
    background-color: var(--megamenu-background);
}

header .wrapper.nav .top_menu  .navbar .collapse.navbar-collapse .navbar-nav .dropdown-menu.mega-menu a {
    text-decoration: none;
    color: var(--megamenu-a-text);
}

header .wrapper.nav .top_menu  .navbar .collapse.navbar-collapse .navbar-nav .dropdown-menu.mega-menu .sub-menu-heading {
    font-size: 28px;
    color: var(--navbar-li-ac);
}

@media(max-width:500px) {
    header .wrapper.nav .top_menu  .navbar .collapse.navbar-collapse .navbar-nav .dropdown-menu.mega-menu {
        width: 300px;
    }
}