/* Sidebar */

.sidebar {
	width: 270px;
	height: 100vh;
	padding: 10px;
	background: var(--sidbar-background);
	position: fixed;
    overflow: auto;
    text-align: center;
}

.sidebar h2 {
	margin:10px;
	overflow: hidden;
    line-height: 1;
    font-size: 24px;
	color: var(--sidebar-text);
}

.sidebar ul {
	list-style: none;
    padding: 0px;
 
}

.sidebar a {
	display: block;
	padding: 5px 20px;
    text-decoration: none;
    font-size: 14px;
	color: var(--sidebar-link);
}



.sidebar li a.active, .sidebar li a:hover {
	background: var(--sidebar-background-hover);
    color: var(--sidebar-text-hover);
    text-decoration: none;
}

@media (max-width: 700px) {
	.sidebar {
		border-top: 80px solid var(--sidebar-background);
		width: auto;
		height: auto;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		padding: 10px;
	}
	.sidebar > div {
		flex: 1;
		margin: 10px;
	}
	.sidebar a {
		padding: 5px;
	}
}