@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
:root {
    --header-background: rgb(250, 250, 250);
    --card-shadow: rgba(0, 0, 0, 0.3);
    --card-background: linear-gradient(45deg, #7e9197, #3196d9);
    --card-profile-img-border: white;
    --text: white;
    --button-background: white;
    --button-text: black;
    --card-rate-star: rgba(255, 230, 0, 0.719);
    --grid-background: rgba(32, 83, 131, 0.664);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

header {
    text-align: center;
    margin: 70px;
    padding: 10px;
    background-color: var(--header-background);
}


/* DISPOSIÇÃO DOS CARDS */

.grid {
    display: grid;
    padding: 20px;
    max-width: 90%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /*responsivade*/
    grid-column-gap: 6px;
    grid-row-gap: 6px;
}

.grid .card {
    margin-left: 100px;
    justify-self: center;
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 1px 5px 0px var(--card-shadow);
    background: var(--card-background);
}

.grid .card:hover {
    height: 505px;
    min-width: 350px;
    border-radius: 5px;
    box-shadow: 0px 1px 35px 0px var(--card-shadow);
}


/* FOTO, NOME, FORMAÇÃO */

.grid .card .wrapper img {
    position: relative;
    z-index: 20;
    border-radius: 50%;
    display: block;
    height: 182px;
    width: 182px;
    border: 2px solid var(--card-profile-img-border);
    object-fit: cover;
    margin: 6px auto;
    transition: all 0.3s ease;
}

.grid .card:hover .wrapper img.active {
    height: 370px;
    width: 350px;
    margin: 0px auto;
    border: none;
    border-radius: 5px;
}

.grid .card .wrapper .name {
    color: var(--text);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 4px;
    line-height: 25px;
    white-space: nowrap;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid .card .wrapper .education {
    color: var(--text);
    text-align: center;
    font-size: 14px;
    line-height: 0px;
    margin: 10px 0;
}

.grid .card hr {
    margin-left: 40px;
    margin-right: 40px;
    color: var(--text);
}


/* DESCRIÇÃO, AVALIAÇÃO, ENVIAR MENSAGEM*/

.grid .content {
    color: var(--text);
    font-size: 12px;
    margin-top: 10px;
    padding: 1px 20px 10px 20px!important;
}

.grid .content #description {
    margin: 5px;
    height: 140px;
    overflow: auto;
    text-align: justify;
    padding: 3px;
}

.grid .content .buttons button {
    padding: 5px;
    height: 100%;
    width: 100%;
    background: var(--button-background);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    transition: all 0.3s;
}

.grid .content .buttons button:hover {
    transform: scale(0.95);
}


/* ICONS DO LADO */

.grid .card .icons {
    position: relative;
    margin-top: -450px;
    margin-left: 10px;
    list-style: none;
}

.grid .card .icons.active {
    display: none;
}

.grid .card .icons li {
    height: 40px;
    width: 40px;
    margin: 5px 0;
    opacity: 0;
    margin-left: -100px;
    transition: all 0.5s ease;
}

.grid .card:hover .icons li {
    opacity: 1;
    margin-left: 7px;
}

.grid .card .icons img {
    margin-top: -5px;
}

.grid .card .icons #place {
    width: 30px;
}

.grid .card:hover .icons li:nth-child(2) {
    transition-delay: 0.2s;
}

.grid .card:hover .icons li:nth-child(3) {
    transition-delay: 0.4s;
}

.grid .card .icons li button {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: var(--button-background);
    display: block;
    line-height: 40px;
    transition: all 0.3s;
    border: none;
    cursor: pointer;
    outline: none;
}

.grid .card .icons li button:hover {
    transform: scale(0.9);
}